* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0056b3; /* צבע ברקע הכותרת */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 5px 0;
}

nav {
    background-color: #007bff; /* צבע ברקע של התפריט */
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: -300px; /* תפריט מחוץ למסך */
    height: 100%;
    width: 300px;
    transition: left 0.3s ease;
}

nav.open {
    left: 0; /* תפריט פתוח */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    padding: 20px;
    margin-left: 20px; /* מרווח מהתפריט */
}

footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
