body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 15px;
    text-align: center;
}

.menu-toggle {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 15px;
}

.side-menu {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #0056b3; 
    overflow-x: hidden; 
    transition: 0.5s; 
    padding-top: 60px; 
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #007bff;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.main-content {
    margin-left: 20px; /* מרווח מהצד */
    padding: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0056b3;
    color: white;
}

.side-menu.open {
    width: 250px; /* רוחב התפריט כשהוא פתוח */
}
