* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

aside {
    width: 250px;
    padding-top: 80px; /* התאמה ל-header */
    background-color: #f8f9fa;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #ddd;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

aside nav ul li {
    padding: 8px 16px;
    font-weight: bold;
}

aside nav ul li a {
    color: #007bff;
    text-decoration: none;
}

aside nav ul li a:hover {
    text-decoration: underline;
}

aside nav ul li ul {
    list-style-type: none;
    padding-left: 20px;
}

main {
    margin-left: 260px;
    padding: 20px;
    padding-top: 100px; /* התאמה ל-header */
    background-color: #fff;
    width: calc(100% - 260px);
    height: 100vh;
    overflow-y: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
